* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    font-size: 16pt;
    margin-left: 10px;
}

a {
    font-size: 16pt;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.menu {
    background-color: #003b6d;
    height: 60px;
    padding: 6px;
    position: fixed;
}

.header {
    align-items: center;
    background-color: #bdbdbd;
    padding-top: 60px;
    
}

a.navLink:link {
    display: block;
    text-decoration: none;
}

a.navLink:hover {
    text-decoration: underline;
    text-decoration-color: white;
}


.footer {
    background-color: black;
    position:static;
    bottom: 0;
    order: 3;
    width: 100%;
    text-align: center;
    color: white;
    height: 70px;
    padding: 4px;
    border-radius: 8px 8px 0 0;
}

h1 {
    font-family: Candara,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
}

h2 {
    font-family: Candara,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
}

h3 {
    font-family: Candara;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px;
    border-style: ridge;
}

label {
    font-size: 16pt;
}

input {
    
    font-size: 16pt;
    margin-bottom: 15px;
}

select {
    font-size: 16pt;
    margin-bottom: 15px;
}

.currentPageDeco {
    text-decoration: underline overline white;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        background-color: white;
    }
    h1 {
        font-size: 28pt;
    }
    h2 {
        font-size: 22pt;
    }
    h3 {
        font-size: 18pt;
    }
    p.body {
        font-size: 14pt;
        padding: 12px 0;
    }
    .navLink {
        color: white;
        font-size: 16pt;
        display: block;
    }
    .searchbar {
        display: none;
    }
    ul.navLink {
        display: flex;
        justify-content: space-evenly;
        padding: 6px 0;
        height: 60px;
        width: 100%;
    }
    li.navLink {
        margin: 0 0;
        padding: 0 0;
    }
    .picture-left {
        display: none;
    }
    .picture-right {
        display: none;
    }
    .section {
        display: block;
    }
    .headerLogo
    {
        float:left;
        margin: 0 20px;
        width: 100px;    
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        background-color: white;
    }
    h1 {
        font-size: 34pt;
    }
    h2 {
        font-size: 28pt;
    }
    h3 {
        font-size: 24pt;
    }
    p.body {
        font-size: 14pt;
        padding: 12px ;
    }
    .navLink {
        color: white;
        font-size: 16pt;
        display: block;
    }
    ul.navLink {
        display: flex;
        justify-content: space-evenly;
        padding: 6px 0;
        height: 60px;
        width: 100%;
    }
    li.navLink {
        margin: 0 0;
        padding: 0 0;
    }
    .content1 {
        width: 0;
    }
    .searchbar {
        display: none;
    }
    .content2 {
        width: 100%;
    }
    .content3 {
        width: 0;
    }
    .headerLogo
    {
        float:left;
        margin: 0 20px;
        width: 175px;    
    }
    .picture-left {
        float:left;
        margin: 0 20px;
        width: 250px;
    }
    .picture-right {
        float:right;
        margin: 0 20px;
        width: 250px;
    }
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: white;
    }
    .page {
        width: 100%;
        margin: 0 auto;
    }
    .header {
        height: 350px;
    }
    
    h1 {
        font-size: 64pt;
        text-shadow: 5px 5px 5px grey;
    }
    h2 {
        font-size: 38pt;
    }
    h3 {
        font-size: 32pt;
    }
    p.body {
        font-size: 16pt;
        padding: 12px 0;
    }
    .navLink {
        color: white;
        font-size: 18pt;
        display: block;
        
    }
    ul.navLink {
        display: flex;
        justify-content: space-evenly;
        padding: 6px 0;
        height: 60px;
        width: 100%;
    }
    .searchbar {
        
    }
    .content1 {
        background-color: white;
        width: 10%;
        min-height: 900px;
    }
    .content2 {
        background-color: white;
        width: 80%;
        
    }
    .content3{
        background-color: white;
        width: 10%;
    }
    .headerLogo
    {
        float:left;
        margin: 0 20px;
        width: 250px;    
    }
    .picture-left {
        float:left;
        margin: 0 20px;
        width: 250px;
    }
    .picture-right {
        float:right;
        margin: 0 20px;
        width: 250px;
    }
    
}